#textblock {
  background-color: #000000;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffffff;
  font-size: 20px;
}

#textblock-footer {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(./images/Baground.png);
}


#jungle4 {
  background-image: url(./images/rocket.png);
}

#jungle5 {
  background-image: url(./images/Fog.png);
}

#manonmountain {
  background-image: url(./images/house.png);
}

#banner {
  background-image: url(./images/Space\ Background\ Banner.jpeg);
  background-repeat:no-repeat;
  background-position: center

}






.loading-spinner {
  @apply flex flex-col items-center justify-center h-screen;
}

.loading-spinner article {
  @apply w-20 h-20 border-4 border-white opacity-50 border-t-green-500 rounded-full animate-spin;
}

.loading-spinner p {
  @apply text-white opacity-75 mt-2 text-center;
}
 

.showcase .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: calc(150vh - 0.1px);
}

.navbar {
  position: absolute;
  top: 6rem;
  left: -1000vw;
  right: 1.25rem;
  background-color: transparent;
  color: #fff;
  z-index: -999;
  padding: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.navbar.open {
  top: 6rem;
  left: 1.25rem;
  background-color: #0f0f0fee;
  z-index: 10;
}